config SHIELD_TRIKYRIA_LEFT
    def_bool $(shields_list_contains,trikyria_left)

config SHIELD_TRIKYRIA_RIGHT
    def_bool $(shields_list_contains,trikyria_right)

config SHIELD_TRIKYRIA_DONGLE
    def_bool $(shields_list_contains,trikyria_dongle)
